In [1]:
import pandas as pd
import os

In [3]:
xlsx_files = [f for f in os.listdir("./") if f.endswith('.xlsx')]

In [37]:
clients = []
all_df = pd.DataFrame()
for i, file in enumerate(xlsx_files):
    client_name = file[:-5].replace("_", " ").lower().title()
    df = pd.read_excel(file, index_col=0)
    df.insert(0, "Client_Key", i+1)
    df.insert(1, "Client_Name", client_name)
    all_df = pd.concat([all_df, df], axis=0, ignore_index=True)
    clients.append(df)

all_df = all_df.reset_index().rename(columns={"index": "Transaction_ID"})
all_df["Transaction_ID"] = all_df["Transaction_ID"] +1
all_df.to_excel("./ALL_CLIENTS.xlsx", index=False)

In [51]:
clients = []
for i, file in enumerate(xlsx_files):
    client_name = file[:-5].replace("_", " ").lower().title()
    df = pd.read_excel(file, index_col=0)
    df.insert(0, "Client_Key", i+1)
    df.insert(1, "Client_Name", client_name)
    df = df.reset_index(drop=True).reset_index().rename(columns={"index": "Transaction_ID"})
    df["Transaction_ID"] = df["Transaction_ID"] +1
    df.to_excel("./ALL_CLIENTS.xlsx", index=False)
    clients.append(df)


# all_df.to_excel("./ALL_CLIENTS.xlsx", index=False)

Aphrodite Greek
Julia Harpman
Mariann Avocado
Jared Livinglife
Hanna Smith
Velvet Throat
Jerry Smith
Helen Troy
Robert King

In [55]:
clients[4]

,Transaction_ID,Client_Key,Client_Name,Date,Account_Number,Transaction_Type,Transaction_Purpose,Transaction_Amount,Transaction_Description
0,1,5,Hanna Smith,2023-08-01,1012345678,ACH,Bills & utilities,-120.0,BILL PAY AUTO DEBIT PG&E SAN FRANCISCO UTILITY...
1,2,5,Hanna Smith,2023-08-01,1012345679,Transfer,Investment,-500.0,TRANSFER TO SAVINGS FOR FUTURE BUSINESS EXPANSION
2,3,5,Hanna Smith,2023-08-02,1012345678,Debit Card,Food & drink,-35.5,POS PURCHASE #4567 WHOLE FOODS MARKET PA
3,4,5,Hanna Smith,2023-08-03,1012345678,ACH,Employment,1500.0,ACH CREDIT FARMERS MARKET SALES DEPOSIT
4,5,5,Hanna Smith,2023-08-04,1012345678,Debit Card,Gas,-60.0,POS PURCHASE #7890 CHEVRON PALO ALTO
...,...,...,...,...,...,...,...,...,...
89,90,5,Hanna Smith,2023-10-28,1012345678,Debit Card,Health & Wellness,-70.0,POS PURCHASE #7895 WALGREENS PA
90,91,5,Hanna Smith,2023-10-29,1012345678,ACH,Benefits,-250.0,ACH DEBIT HEALTH INSURANCE PREMIUM
91,92,5,Hanna Smith,2023-10-30,1012345678,Debit Card,Food & drink,-26.0,POS PURCHASE #8906 JAMBA JUICE PA
92,93,5,Hanna Smith,2023-10-31,1012345678,ACH,Bills & utilities,-120.0,BILL PAY AUTO DEBIT PG&E SAN FRANCISCO UTILITY...
93,94,5,Hanna Smith,2023-11-01,1012345678,Transfer,Investment,-500.0,TRANSFER TO SAVINGS FOR FUTURE BUSINESS EXPANSION